<header id="page-topbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="d-flex align-items-center">

                                <div class="navbar-brand-box mr-3 mr-lg-5">
                                    <a href="index.html" class="logo">
                                        <span class="d-none d-lg-block">
                                            <img src="assets/images/logo-dark.png" alt="" height="15">
                                        </span>
                                        <i class="d-lg-none">
                                            <img src="assets/images/logo-small.png" alt="" height="24">
                                        </i>
                                    </a>
                                </div>

                                <button type="button" class="btn btn-sm mr-2 d-lg-none header-item" data-toggle="collapse" data-target="#topnav-menu-content">
                                    <i class="fa fa-fw fa-bars"></i>
                                </button>
    
                                <div class="header-breadcumb">
                                    <h2 class="header-title">{{ page_title }}</h2>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                
                                <div class="dropdown d-inline-block ml-2">
                                    <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-magnify"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                                        aria-labelledby="page-header-search-dropdown">
                                        
                                        <form class="p-3">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="dropdown d-inline-block ml-1">
                                    <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline"></i>
                                        <span class="badge badge-danger badge-pill">6</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                                        aria-labelledby="page-header-notifications-dropdown">
                                        <div class="p-3">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-0"> Notifications </h6>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="small"> View All</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-scroll" style="max-height: 230px;">
                                            <a href="" class="text-reset">
                                                <div class="media p-3">
                                                    <img src="assets/images/users/avatar-2.jpg"
                                                        class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="media-body">
                                                        <h6 class="mt-0 mb-1">Samuel Coverdale</h6>
                                                        <p class="font-size-12 mb-1">You have new follower on Instagram</p>
                                                        <p class="font-size-12 mb-0 text-muted"><i class="mdi mdi-clock-outline"></i> 2 min ago</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" class="text-reset">
                                                <div class="media p-3">
                                                    <div class="avatar-xs mr-3">
                                                        <span class="avatar-title bg-success rounded-circle">
                                                            <i class="mdi mdi-cloud-download-outline"></i>
                                                        </span>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mt-0 mb-1">Download Available !</h6>
                                                        <p class="font-size-12 mb-1">Latest version of admin is now available. Please download here.</p>
                                                        <p class="font-size-12 mb-0 text-muted"><i class="mdi mdi-clock-outline"></i> 4 hours ago</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" class="text-reset">
                                                <div class="media p-3">
                                                    <img src="assets/images/users/avatar-3.jpg"
                                                        class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="media-body">
                                                        <h6 class="mt-0 mb-1">Victoria Mendis</h6>
                                                        <p class="font-size-12 mb-1">Just upgraded to premium account.</p>
                                                        <p class="font-size-12 mb-0 text-muted"><i class="mdi mdi-clock-outline"></i> 1 day ago</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="p-2 border-top">
                                            <a class="btn btn-sm btn-light btn-block text-center" href="javascript:void(0)">
                                                <i class="mdi mdi-arrow-down-circle mr-1"></i> Load More..
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="dropdown d-inline-block ml-2">
                                    <button type="button" class="btn header-item" id="page-header-user-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                                            alt="Header Avatar">
                                        <span class="d-none d-sm-inline-block ml-1">{{ app.user.username }}</span>
                                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
    
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{{ path('app_user_edit', { id : app.user.id }) }}">
                                            <span>Modifier profile</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{{ path('app_user_edit_password', { id : app.user.id }) }}">
                                            <span>Modifier mot de passe</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="{{ path('security.logout') }}">
                                            Déconnexion
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </header>