<div class="topnav">
	<div class="container-fluid">
		<nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

			<div class="collapse navbar-collapse" id="topnav-menu-content">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">
							<i class="feather-home mr-2"></i>Accueil
						</a>
					</li>
					{% if app.user %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="feather-copy mr-2"></i>Mes eleves
								<div class="arrow-down"></div>
							</a>
							<div class="dropdown-menu" aria-labelledby="topnav-pages">
								<div class="dropdown">
									<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Eleves par Classe
										<div class="arrow-down"></div>
									</a>
									<div class="dropdown-menu" aria-labelledby="topnav-auth">
											{% for item in allLevel %}
												<a href="auth-login.html" class="dropdown-item">{{item.libelle}}</a>
											{% endfor %}
									</div>
								</div>
								<a href="{{ path('app_student_all') }}" class="dropdown-item">Tout les eleves</a>
							</div>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_level') }}">
								<i class="feather-home mr-2"></i>Classe
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			{% if app.user == null %}

				<div class="d-flex ">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security.login') }}">
								<i class="feather-home mr-2"></i>Connexion
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">
								<i class="feather-home mr-2"></i>Inscription
							</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</nav>
	</div>
</div>
