{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="page-content">
		<div class="jumbotron">
			{% for message in app.flashes('success') %}
				<div class="alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert-warning">
					{{ message }}
				</div>
			{% endfor %}
			
			<h1 class="display-4">Bienvenu cher utilisateur</h1>
			<p class="lead">With supporting text below as a natural lead-in to additional
												                                        content.</p>
			<hr class="my-4">
			<p>Pour commencer connecter vous<p/>
				<a href="{{path('security.login')}}" class="btn btn-primary">Connecter</a>
			</p>
		</div>
	</div>
{% endblock %}
