{{ form_start(form) }}
<div class="row">
	<div class="col">
		<div class="form-group">
			<label>Nom</label>
			{{ form_widget(form.nom, { 'attr': {'class': 'form-control','id' :'simpleinput', 'placeholder': 'Entrez le nom' } }) }}
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label>Prenom</label>
			{{ form_widget(form.prenom, { 'attr': {'class': 'form-control','id' :'simpleinput', 'placeholder': 'Entrez le prenom'  } }) }}
		</div>
	</div>
</div>
<div class="form-group">
	<label>Genre</label>
	{{ form_widget(form.genre, { 'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
	<label>Date de Naissance</label>
	{{ form_widget(form.datedenaissance, { 'attr': {'class': 'form-control date'},'id' :'birthdatepicker','data-toggle': 'daterangepicker', 'data-single-date-picker':true }) }}
</div>
<div class="form-group">
	<label for="exampleFormControlTextarea1">Adresse</label>
	{{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'id' :'exampleFormControlTextarea1'}}) }}
</div>
<div class="form-group">
	<label for="exampleFormControlTextarea1">Classe</label>
	{{ form_widget(form.classe, { 'attr': {'class': 'form-control', 'id' :'exampleFormControlSelect1'}}) }}
</div>
<button class="btn btn-success btn-block">
	<i class="fas fa-save mr-2"></i>
	{{ button_name }}
</button>
<a href="{{ path('app_student_all') }}" class="btn btn-dark btn-block">
	<i class="fas fa-chevron-left mr-2"></i>
	Retour à la liste
</a>
{{ form_end(form) }}
