{% extends 'base.html.twig' %}

{% block title %}Sym-ecole Modifier un eleve
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifier l' Eleve</h4>
                    {{ include('pages/student_all/_form.html.twig' , { button_name : "Modifier" } ) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
