{% extends 'base.html.twig' %}

{% block title %}Tout les eleves
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Tout les Inscrit</h4>
					{% for message in app.flashes('success') %}
						<div class="alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('error') %}
						<div class="alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="d-flex justify-content-end">
						<a href="{{ path('app_student_new') }}" class="btn btn-success mt-4">Ajouter</a>
					</div>
					<p class="card-subtitle count">Il y a
						{{ students.getTotalItemCount }}eleves au total</p>

					<table id="datatable-buttons" class="table table-striped dt-responsive nowrap mt-4">
						<thead>
							<tr>
								<th>N° d'Inscription</th>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Genre</th>
								<th>Date de Naissance</th>
								<th>Adresse</th>
								<th>Classe</th>
								<th>Date d'Inscription</th>
								<th>Modifier</th>
								<th>Supprimer</th>
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
								<tr>
									<td>{{ student.id }}</td>
									<td>{{ student.nom }}</td>
									<td>{{ student.prenom }}</td>
									<td>{{ student.genre == 1 ? 'Homme' : 'Femme' }}</td>
									<td>{{ student.datedenaissance|date('Y-m-d') }}</td>
									<td>{{ student.adresse }}</td>
									<td>{{ student.classe }}</td>
									<td>{{ student.createdAt|date('Y-m-d') }}</td>
									<td>
										<a href="{{ path('app_student_edit', {id : student.id}) }}" class="btn btn-info ">
											<i class="fas fa-edit mr-2"></i>
										</a>
									</td>
									<td>
										<a href="{{ path('app_student_delete', {id : student.id}) }}" class="btn btn-danger">
											<i class="fas fa-trash-alt mr-2"></i>
										</a>
									</td>

								</tr>
							{% else %}
								<tr>
									<td>Aucun resultat</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
					<div class="navigation">
						{{ knp_pagination_render(students) }}</div>
				</p>
			</div>
			<!-- end card body-->
		</div>
		<!-- end card -->
	</div>
	<!-- end col-->
</div>{% endblock %}
