{% extends 'base.html.twig' %}

{% block title %}Sym-ecole Modifier profile
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8">
				<div class="card ">
					<div class="card-body">
						<h4 class="card-title">Modifier votre profil</h4>
                        {% for message in app.flashes('failed-edit-profil-motdepasse') %}
						<div class="alert-warning">
							{{ message }}
						</div>
					{% endfor %}
						{{ form_start(form) }}
						<div class="form-group">
							<label>Modifier le nom</label>
							{{ form_widget(form.username, { 'attr': {'class': 'form-control','id' :'simpleinput', 'placeholder': 'Entrez le nouveua nom'  } }) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.plainPassword) }}
						</div>
						<button class="btn btn-success btn-block">
							<i class="fas fa-save mr-2"></i>
							modifier
						</button>
						<a href="{{ path('app_home') }}" class="btn btn-dark btn-block">
							<i class="fas fa-chevron-left mr-2"></i>
							Retour à l'acceuil
						</a>
						{{ form_end(form) }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
