<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
		<meta content="MyraStudio" name="author"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>
			{% block title %}sym-ecole
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="assets/images/favicon.ico">
		{% block stylesheets %}
			<link href="{{ asset('plugins/dropify/dropify.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/select2/select2.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('assets/css/theme.min.css') }}" rel="stylesheet" type="text/css"/>
		{% endblock %}
	</head>
	<body>
		<div id="layout-wrapper">
			<div class="main-content">
				{% if app.user %}
					{% include "partials/_header.html.twig" %}
				{% endif %}
				{% if app.request.attributes.get('_route') != 'security.login' and app.request.attributes.get('_route') != 'app_register'%}
				{% include "partials/_top-navbar.html.twig" %}
					{% endif %}
				<div class="page-content">
					<div class="container-fluid"> {% block body %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
			<div class="menu-overlay"></div>
			{% block javascripts %}
				<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
				<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.slimscroll.min.js') }}"></script>
				<script src="{{ asset('plugins/autonumeric/autoNumeric-min.js') }}"></script>
				<script src="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
				<script src="{{ asset('plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}"></script>
				<script src="{{ asset('plugins/moment/moment.js') }}"></script>
				<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
				<script src="{{ asset('plugins/select2/select2.min.js') }}"></script>
				<script src="{{ asset('plugins/switchery/switchery.min.js') }}"></script>
				<script src="{{ asset('plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js') }}"></script>
				<script src="{{ asset('plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
				<script src="{{ asset('assets/pages/advanced-plugins-demo.js') }}"></script>
				<script src="{{ asset('plugins/dropify/dropify.min.js') }}"></script>
				<script src="{{ asset('assets/pages/fileuploads-demo.js') }}"></script>
				<script src="{{ asset('assets/js/theme.js') }}"></script>
			{% endblock %}
		</body>
	</html>
