{{ form_start(form) }}
<div class="form-group">
	<label>Libelle</label>
	{{ form_widget(form.libelle, { 'attr': {'class': 'form-control','id' :'simpleinput', 'placeholder': 'Entrez le nom de classe'  } }) }}
</div>
<button class="btn btn-success btn-block">
	<i class="fas fa-save mr-2"></i>
	{{ button_name }}
</button>
<a href="{{ path('app_level') }}" class="btn btn-dark btn-block">
	<i class="fas fa-chevron-left mr-2"></i>
	Retour à la liste
</a>
{{ form_end(form) }}
