{% extends 'base.html.twig' %}

{% block title %}Tout les Classes existe
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Tout les Classe</h4>
					{% for message in app.flashes('success') %}
						<div class="alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('error') %}
						<div class="alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="d-flex justify-content-end">
						<a href="{{ path('app_level_new') }}" class="btn btn-success mt-4">Ajouter</a>
					</div>
					<p class="card-subtitle count">Il y a
						{{ levels.getTotalItemCount }} classes dans votre etablissement</p>

					<table id="datatable-buttons" class="table table-striped dt-responsive nowrap mt-4">
						<thead>
							<tr>
								<th>#</th>
								<th>Libelle</th>
								<th>Modifier</th>
								<th>Supprimer</th>
							</tr>
						</thead>
						<tbody>
							{% for level in levels %}
								<tr>
									<td>{{ level.id }}</td>
									<td>{{ level.libelle }}</td>
									<td>
										<a href="{{ path('app_level_edit', {id : level.id}) }}" class="btn btn-info ">
											<i class="fas fa-edit mr-2"></i>
										</a>
									</td>
									<td>
										<a href="{{ path('app_level_delete', {id : level.id}) }}" class="btn btn-danger">
											<i class="fas fa-trash-alt mr-2"></i>
										</a>
									</td>

								</tr>
							{% else %}
								<tr>
									<td>Aucun resultat</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
					<div class="navigation">
						{{ knp_pagination_render(levels) }}</div>
				</p>
			</div>
			<!-- end card body-->
		</div>
		<!-- end card -->
	</div>
	<!-- end col-->
</div>{% endblock %}
